* {
  box-sizing: border-box;
}

body,
html,
.routes-container {
  background-color: #7200d1;
  font-family: "Lato", sans-serif;
  min-width: 300px;
}

/********************login********************/
.login-page {
  margin: 2rem auto 0 auto;
  padding: 10rem 0;
}

.login-input {
  width: 25rem;
}

.login-input,
.form-group {
  margin: auto;
}

.login-page,
.author {
  text-align: center;
}

.login-title {
  font-size: 2.3rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  margin-bottom: 1.5rem;
}

.login-title,
.form-label,
.author,
.fa-plus,
.fa-trophy,
.fa-home {
  color: #fff;
}

.fa-plus,
.fa-trophy,
.fa-home {
  font-size: 0.9em;
  margin-right: 0.2rem;
}

.login-title,
.form-group {
  padding-bottom: 1.2rem;
}

.form-group {
  width: 73%;
}

.form-label {
  letter-spacing: 0.1rem;
}

.login-btn {
  margin-top: 1rem;
}

.form-label,
.copyright {
  padding-bottom: 1rem;
}

.author {
  letter-spacing: 0.05rem;
  padding-top: 2rem;
}

/********************nav********************/
.nav-container {
  margin: 0 15rem;
  padding-top: 1rem;
}

.links-list {
  display: inline;
}

.nav-list {
  display: inline-block;
  margin-right: 2rem;
}

.nav-links,
.nav-links:hover,
.nav-user {
  color: #fff;
}

.nav-links:hover {
  text-decoration: underline;
}

.nav-user-img {
  margin: 0 2rem;
}

.nav-user-info {
  float: right;
}

.nav-user {
  letter-spacing: 0.07rem;
}

/********************home**************************/
/********************unanswered********************/
/********************answered**********************/
.poll-list,
.create-leaderboard-container {
  background-color: #fff;
  border-radius: 0.5rem;
  margin: 4rem auto;
  width: 45%;
}

.unanswered-container {
  border-bottom: 1px solid #ccc;
  padding: 2rem 7rem;
}

.date {
  margin-bottom: 1.5rem;
}

.user-photo {
  height: 10rem;
  width: 10rem;
}

.info-wrapper {
  float: right;
  width: 50%;
}

.user-photo,
.info-title,
.unanswered-options-text,
.unanswered-link {
  margin-top: 1.2rem;
}

.info-user {
  margin-bottom: 0;
}

.info-title {
  font-size: 1.1rem;
}

.unanswered-link {
  margin-left: 5.5rem;
  padding-top: 2rem;
  text-align: center;
}

.nav-tabs .nav-link {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  font-size: 1rem;
}

.poll-tabs a {
  letter-spacing: 0.1rem;
  padding: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}

.poll-tabs a,
.poll-tabs a:hover {
  color: #000;
}

.poll-tabs a:hover {
  background-color: #f8f8f8;
  color: #000;
}

.info-title,
.poll-tabs a {
  font-weight: bold;
}

/********************poll options********************/
.back-btn {
  padding: 2rem 0 0 2rem;
}

.poll-list-questions {
  list-style-type: none;
  padding-left: 0;
}

.info-section {
  margin: 2rem auto 5rem auto;
}

.unanswered-results-link {
  margin-top: 1rem;
}

.unanswered-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.option-radio {
  margin-right: 0.5rem;
}

/********************poll results**************************/
.results-container {
  overflow: hidden;
}

.vote-results-title,
.info-user {
  font-size: 1.5rem;
  font-weight: bold;
}

.info-results {
  height: 25rem;
}

.info-user {
  margin-bottom: 2rem;
}

.info-results-wrapper {
  width: 60%;
}

.info-results-wrapper,
.badge-design {
  float: right;
}

.info-inner-wrapper {
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
}

.info-inner-wrapper:last-of-type {
  margin-top: 1rem;
}

.badge-design {
  border-radius: 50%;
  font-size: 0.99rem;
  height: 3.5rem;
  margin: -3.5rem -2.6rem 0 0;
  padding: 0.65rem;
  transform: rotate(20deg);
  width: 3.5rem;
}

.progress {
  margin: 0.8rem 0 0.3rem 0;
  width: 100%;
}

/********************create question********************/
.create-leaderboard-container {
  padding: 3rem;
}

.create-question,
.leaderboard-title,
.or {
  font-weight: bold;
}

.create-input,
.or {
  padding-top: 1rem;
}

.or,
.center {
  text-align: center;
}

.create-btn {
  margin-top: 1.5rem;
}

/********************leaderboard********************/
.leaderboard-name {
  font-weight: bold;
}

.leaderboard-name,
.questions-asked,
.questions-answered {
  margin-bottom: 2rem;
}

.leaderboard-title {
  margin-bottom: 1.5rem;
  text-align: center;
}

.user-img {
  float: left;
}

.leaderboard-photo {
  margin-top: 0;
}

.leaderboard-list {
  list-style-type: none;
  padding-left: 0;
}

.leaderboard-items {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 2rem;
}

.leaderboard-items,
.leaderboard-total {
  border: 2px solid #ccc;
}

.leaderboard-wrapper {
  display: inline-block;
  margin-left: 3rem;
}

.leaderboard-score {
  background-color: #f88379;
  border-bottom: 2px solid #ccc;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

.score-container {
  margin-top: 1.65rem;
}

.leaderboard-total {
  border-radius: 0.5rem;
  float: right;
  font-weight: bold;
  height: 10rem;
  margin: 0 1rem 0 0;
  width: 8rem;
}

.score-container,
.leaderboard-points {
  display: flex;
  justify-content: center;
}

.leaderboard-points {
  align-items: center;
  background-color: #ffefd5;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
}

/********************error********************/
.error-page {
  color:#fff;
  font-size: 1.5rem;
  text-align: center;
  margin: 10rem;
}