* {
  box-sizing: border-box;
}

body,
html,
.routes-container {
  background-color: #d2fff8;
  font-family: "Lato", sans-serif;
  min-width: 300px;
}

/********************login********************/
/*container*/
.login-container {
  margin: 2rem auto 0 auto;
  padding: 10rem 0;
}

.login-input {
  width: 25rem;
}

.login-input,
.form-group {
  margin: auto;
}

.login-container,
.author {
  text-align: center;
}

/*title, text*/
.login-title {
  font-size: 2.3rem;
  letter-spacing: 0.4rem;
  margin-bottom: 1.5rem;
}

.login-title,
.form-label {
  font-weight: bold;
}

/*navigation*/
.fa-plus,
.fa-trophy,
.fa-home {
  font-size: 0.9em;
  margin-right: 0.2rem;
}

.login-title,
.form-group {
  padding-bottom: 1.2rem;
}

.form-group {
  width: 73%;
}

.form-label {
  letter-spacing: 0.1rem;
}

.login-btn {
  margin-top: 1rem;
}

.form-label,
.copyright {
  padding-bottom: 1rem;
}

.author {
  letter-spacing: 0.05rem;
  padding-top: 2rem;
}

/********************nav********************/
.nav-container {
  background: #000;
  color: #fff;
  padding: 1.5rem;
}

.list-links {
  display: inline;
}

.nav-list {
  display: inline-block;
  margin-right: 2rem;
}

.nav-links,
.nav-links:hover,
.nav-user {
  color: #fff;
}

.nav-links:hover {
  text-decoration: underline;
}

.nav-name {
  margin: 0 1rem;
}

.nav-username {
  float: right;
  margin-top: -0.4rem;
  z-index: 1;
}

/********************home**************************/
/********************unanswered********************/
/********************answered**********************/
/*home*/
.poll-home,
.create-leaderboard-container,
.poll-list {
  background-color: #fff;
  border-radius: 0.5rem;
  margin: 4rem auto;
  width: 50%;
}

.poll-questions {
  list-style-type: none;
  padding-left: 0;
}

/*unanswered questions, view poll*/
/*image and name section*/
.poll-list-questions {
  list-style-type: none;
  padding-left: 0;
}

.unanswered-container {
  overflow: hidden;
  padding: 2rem 7rem;
}

.date {
  background-color: #ffb998;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  font-weight: bold;
  padding: 0.8rem;
}

.user-container {
  margin: 2rem auto 0 auto;
}

.user-info {
  background-color: #f5f3ba;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  margin-bottom: 0;
  padding: 0.8rem;
}

.user-info,
.user-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.user-photo {
  height: 10rem;
  width: 10rem;
}

.user-heading {
  display: inline;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  top: 0.14rem;
}

/*poll section*/
.content-wrapper {
  border: 1px solid #ccc;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  padding: 0 2rem 1.5rem 2rem;
}

.content-label {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  padding: 1.5rem 0 1rem 0;
}

.options-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.option-radio {
  margin-right: 0.5rem;
}

.submit-results-wrapper {
  margin-top: 1rem;
  text-align: center;
}

.back-btn {
  padding-top: 1rem;
  text-align: right;
}

/*poll results*/
.vote-results-title {
  font-weight: bold;
  padding-bottom: 0.2rem;
  text-align: center;
}

.content-results-container {
  border: 1px solid #ccc;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.content-results-wrapper {
  border-bottom: 1px solid #ccc;
  padding: 2rem;
}

.content-results-wrapper:last-of-type {
  margin-top: 1rem;
}

.space {
  display: inline;
}

.badge {
  font-size: 0.99rem;
  float: right;
  padding: 0.4rem;
}

.progress {
  margin: 0.8rem 0 0.3rem 0;
  width: 100%;
}

/*unanswered answered tabs*/
.nav-tabs .nav-link {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  font-size: 1rem;
}

.poll-tabs a {
  letter-spacing: 0.1rem;
  padding: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}

.poll-tabs a,
.poll-tabs a:hover {
  color: #000;
}

.poll-tabs a:hover {
  background-color: #f8f8f8;
  color: #000;
}

/*options view*/
.poll-questions-title-one,
.poll-questions-title-two {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.poll-questions-title-one {
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.user-photo,
.poll-questions-title-one,
.poll-questions-title-two,
.unanswered-link {
  margin-top: 1.2rem;
}

.unanswered-options-text {
  background: #dcdee3;
  border-radius: 0.4rem;
  padding: 1rem;
}

.or {
  padding-bottom: 1rem;
}

.view-poll {
  margin-top: 1rem;
  text-align: right;
}

.poll-questions-title,
.poll-questions-title,
.poll-tabs a {
  font-weight: bold;
}

/********************add question********************/
.create-leaderboard-container {
  padding: 3rem;
}

.add-question,
.leaderboard-title,
.or {
  font-weight: bold;
}

.add-input,
.or {
  padding-top: 1rem;
}

.add-question {
  background-color: #000;
  border-radius: 0.4rem;
  color: #fff;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  text-align: left;
}

.add-question-title {
  font-size: 1.3rem;
  margin-top: 1.3rem;
  padding-left: 0.3rem;
}

.or {
  margin-bottom: 0;
  text-align: center;
}

.center {
  text-align: right;
}

.add-question-btn {
  margin-top: 1.5rem;
}

/********************leaderboard********************/
.leaderboard-name-wrapper {
  background-color: #ff98ab;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  font-weight: bold;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  width: 100%;
}

.fa-star {
  font-size: 1.5rem;
  padding-right: 0.4rem;
  position: relative;
  top: -0.07rem;
}

.fa-star:last-of-type {
  padding-left: 0.4rem;
}

.leaderboard-title {
  margin-bottom: 1.5rem;
  text-align: center;
}

.leaderboard-list {
  list-style-type: none;
  margin: auto;
  padding-left: 0;
  width: 70%;
}

.leaderboard-items {
  margin-bottom: 1rem;
}

.user-photo {
  height: 2rem;
  margin: 0 0.6rem 0 0;
  width: 2rem;
}

.leaderboard-results {
  display: flex;
}

.leaderboard-label {
  background-color: #fff;
  border: 1px solid #dcdee3;
  border-top: none;
  font-weight: bold;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  text-align: center;
  width: 100%;
}

.leaderboard-name {
  margin-bottom: 0;
}

.leaderboard-asked {
  border-bottom-left-radius: 0.4rem;
}

.leaderboard-answer {
  border-left: none;
  border-right: none;
}

.leaderboard-score {
  border-bottom-right-radius: 0.4rem;
}

.leaderboard-container {
  margin-top: 1.65rem;
}

.leaderboard-results-label {
  align-items: center;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  height: 3.5rem;
  justify-content: center;
  margin: auto;
  width: 3.5rem;
}

/********************error********************/
.error-page {
  color:#fff;
  font-size: 1.5rem;
  text-align: center;
  margin: 10rem;
}