/********************mobile************************/
/********************login*************************/
@media screen
and ( max-width: 568px ) {
  .login-input {
    width: 100%;
  }
}

/********************tablets****************************/
/********************portrait***************************/
@media screen
and ( min-width: 416px )
and ( max-width: 1400px )
and ( orientation: portrait ) {
  .leaderboard-container {
    margin: auto;
  }

  .leaderboard-items {
    margin: 1rem auto;
  }

  .leaderboard-name {
    font-size: 1rem;
    padding-top: 1.5rem;
  }

  .leaderboard-total {
    margin: 1rem 0 0 0;
  }
}

@media screen
and ( min-width: 769px )
and ( max-width: 1400px )
and ( orientation: portrait ) {
  .nav-container {
    margin: 0 5rem;
  }

  .poll-list,
  .create-leaderboard-container,
  .leaderboard-container,
  .leaderboard-items {
     width: 85%;
  }
}

@media screen
and ( min-width: 416px )
and ( max-width: 768px )
and ( orientation: portrait ) {
  .nav-container {
    margin: 0 1.5rem;
  }

  .create-question,
  .leaderboard-title {
    margin-bottom: 2rem;
  }

  .poll-list,
  .create-leaderboard-container,
  .leaderboard-container,
  .info-section {
     width: 90%;
  }
}

@media screen
and ( max-width: 500px )
and ( orientation: portrait ) {
  .nav-container {
    margin: 1rem 0 0 0;
    padding: 0;
  }

  .login-title {
    font-size: 2rem;
  }

  .unanswered-container {
    padding: 2rem;
    width: 100%;
  }

  .unanswered-link {
    margin-left: 0;
  }

  .nav-tabs .nav-link {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-size: 0.9rem;
  }

  .nav-user-info,
  .user-img,
  .info-wrapper {
    float: none;
  }

  .poll-list,
  .create-leaderboard-container {
    border-radius: 0;
    margin-top: 1rem;
  }

  .info-wrapper,
  .poll-list,
  .create-leaderboard-container,
  .info-results-wrapper {
    width: 100%;
  }

  .nav-container,
  .poll-list,
  .create-leaderboard-container {
    text-align: center;
  }

  .back-btn {
    float: left;
    padding: 2rem;
  }

  .create-leaderboard-container {
    padding: 1rem;
  }

  .nav-leaderboard,
  .leaderboard-total {
    margin-right: 0;
  }

  .leaderboard-items {
    padding-bottom: 4.4rem;
  }

  .nav-user-info,
  .user-img {
    padding-top: 1rem;
  }

  .leaderboard-wrapper,
  .leaderboard-total {
    margin: 2.5rem 0 0 0;
  }

  .leaderboard-name {
    font-size: 1rem;
  }

  .leaderboard-name,
  .questions-asked,
  .questions-answered {
     margin-bottom: 1rem;
     text-align: justify;
  }

  .info-inner-wrapper {
    margin-top: 2rem;
    width: 95%;
  }

  .info-results {
    height: 38rem;
  }
}

@media screen
and ( max-width: 320px )
and ( orientation: portrait ) {
  .nav-list {
    margin-right: 1rem;
  }

  .nav-user-img {
    margin: 0 1rem;
  }

  .unanswered-link {
    margin-top: 0;
  }

  .nav-leaderboard {
    margin-right: 0;
  }

  .leaderboard-wrapper {
    margin: 2.5rem auto 1.5rem auto;
  }

  .leaderboard-total {
    margin: auto;
  }

 .leaderboard-items {
   display: flex;
   flex-direction: column;
 }
}

/********************tablets**********************/
/********************landscape********************/
@media screen
and ( min-width: 300px )
and ( max-width: 1400px )
and ( orientation: landscape ) {
  .leaderboard-total {
    margin-top: 0;
  }
}

@media screen
and ( min-width: 1025px )
and ( max-width: 1400px )
and ( orientation: landscape ) {
  .poll-list,
  .create-leaderboard-container,
  .leaderboard-container {
     width: 60%;
  }

  .leaderboard-container {
    margin: auto;
    width: 80%;
  }
}

@media screen
and ( min-width: 822px )
and ( max-width: 1024px )
and ( orientation: landscape ) {
  .nav-container {
    margin: 0 5rem;
  }

  .poll-list,
  .create-leaderboard-container {
    width: 70%;
  }

  .leaderboard-container {
    margin: auto;
    width: 100%;
  }

  .leaderboard-items {
     margin: 1rem auto;
     width: 90%;
  }
}

@media screen
and ( min-width: 812px )
and ( max-width: 824px )
and ( orientation: landscape ) {
  .nav-container {
    margin: 0 2rem
  }

  .poll-list,
  .create-leaderboard-container {
    width: 80%;
  }

  .info-user {
    margin-bottom: 2rem;
  }

  .leaderboard-items {
    margin: 1rem auto;
  }
}

@media screen
and ( min-width: 731px )
and ( max-width: 811px )
and ( orientation: landscape ) {
  .nav-container {
    margin: 0 2rem;
  }

  .nav-user-img {
    margin: 0 0.5rem;
  }

  .poll-list,
  .create-leaderboard-container {
    width: 90%;
  }

  .results-container {
    padding: 3rem 5rem;
  }

  .info-user {
    margin-bottom: 2rem;
  }

  .leaderboard-items {
    margin: 1rem auto;
  }
}

@media screen
and ( min-width: 641px )
and ( max-width: 730px )
and ( orientation: landscape ) {
  .nav-container {
    margin: 0 0.9rem;
  }

  .nav-user-img {
    margin: 0 0.5rem;
  }

  .nav-list {
    margin-right: 1rem;
  }

  .poll-list,
  .create-leaderboard-container {
    width: 90%;
  }

  .info-user {
    margin-bottom: 2rem;
  }

  .leaderboard-wrapper {
    margin-left: 1rem;
  }

  .leaderboard-items {
    margin: 1rem auto;
    width: 100%;
  }

  .nav-tabs .nav-link {
    font-size: 1rem;
  }

  .info-results-wrapper {
    width: 53%;
  }
}

@media screen
and ( min-width: 569px )
and ( max-width: 640px )
and ( orientation: landscape ) {
  .nav-container {
    margin: 0 1rem;
  }

  .poll-list,
  .create-leaderboard-container {
    border-radius: 0;
    width: 100%;
  }

  .nav-tabs .nav-link {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-size: 1rem;
  }

  .info-user {
    margin-bottom: 2rem;
  }

  .leaderboard-items {
    margin: 1rem auto;
  }
}

@media screen
and ( max-width: 568px )
and ( orientation: landscape ) {
  .nav-container {
    margin: 0 1rem;
  }

  .poll-list,
  .create-leaderboard-container {
    border-radius: 0;
    width: 100%;
  }

  .nav-tabs .nav-link {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-size: 1rem;
  }

  .info-user {
    margin-bottom: 2rem;
  }

  .leaderboard-wrapper {
    margin-left: 1rem;
  }

  .user-photo {
    height: 8rem;
    width: 8rem;
  }

  .leaderboard-items {
     margin: 1rem auto;
  }
}